ion-header {
  ion-toolbar ion-title {
    color: var(--Foundation-Black-black-500, #121212);
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    padding: 16px;
  }
}
.qr-code {
  padding: 60px 20px;
  display: block;
  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  h5 {
    color: var(--Foundation-Blue-blue-500, #4b69ff);
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
  }
}
span.bottom-fix {
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: capitalize;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
