ion-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .p-0 {
    padding: 0px;
  }
  .data-dashboard {
    position: relative;
    padding: 24px 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.inner-imsg {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80%;
    height: 80%;
  }
}
.clickd-btn {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-clicks {
    width: 52px;
    height: 52px;
    display: flex;
    background: #4b69ff;
    border-radius: 50%;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 26px;
    &:after {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      background: #edf0ff;
      border-radius: 50%;
      z-index: -1;
    }
  }
}
.clickd-btn.max-w-375 {
  max-width: 375px;
  display: block;
  ion-button {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --box-shadow: none;
  }
  ion-button.button-outline {
    --padding-top: 13px;
    --padding-bottom: 13px;
    height: 44px;
    --height: 44px;
  }
}
