<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timesheet Report</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="list-drops">
    <ion-select
      aria-label="Fruit"
      interface="popover"
      placeholder="From"
      mode="md"
    >
      <ion-select-option value="Customer">Customer</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
    </ion-select>

    <ion-select
      aria-label="Fruit"
      interface="popover"
      placeholder="From"
      mode="md"
    >
      <ion-select-option value="Customer">Customer</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
      <ion-select-option value="Employee">Employee</ion-select-option>
    </ion-select>

    <span class="send-msgs">
      <ion-icon name="mail"></ion-icon>
    </span>
  </div>

  <div class="bottom-all">
    <div class="history-box">
      <div class="data-history">
        <h5>Friday 10th October 2023</h5>
        <p>St Agnes School 8:30 to 15:00 6.5 hrs KEY Loaned</p>
      </div>
      <div class="data-history">
        <h5>Wednesday 8th October 2023</h5>
        <ul>
          <li>St Agnes School 8:30 to 12:00 3.5 hrs KEY Loaned</li>
          <li>Victor School 13:30 to 17:00 3.5</li>
          <li>Victor School 13:30 to 17:00 3.5</li>
        </ul>
      </div>
      <div class="data-history">
        <h5>Wednesday 8th October 2023</h5>
        <ul>
          <li>St Agnes School 8:30 to 12:00 3.5 hrs KEY Loaned</li>
          <li>Victor School 13:30 to 17:00 3.5</li>
          <li>Victor School 13:30 to 17:00 3.5</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
