ion-content {
  .p-0 {
    padding: 0px;
  }
  .left-panel {
    position: relative;
    padding: 24px 16px;
    min-height: 100vh;
    border-right: 1px solid #eee;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a.scan-btn {
      color: #4b69ff;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      text-transform: capitalize;
      text-align: center;
      display: block;
    }
    .form-left {
      h4 {
        color: #121212;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 16px;
      }
      ion-item {
        --padding-start: 0px;
        --padding-end: 0px;
        --inner-padding-end: 0;
        ion-input {
          border-radius: 6px;
          --border-radius: 6px;
          background: var(--Foundation-Gray-gray-100, #f6f6f6);
          width: 100%;
          min-height: 40px;
          padding: 11px 12px;
          --padding-start: 16px;
          height: 40px;
          margin-bottom: 14px;
          flex: 0 0 100%;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .img-bx-scan img {
      width: 100%;
    }
  }
  .bottom-fixd {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px 16px;
    ul.foot-menus {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        color: #121212;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        padding: 10px 0;
        display: block;
        ion-icon {
          font-size: 16px;
          vertical-align: bottom;
        }
      }
      li.logout {
        color: #f04438;
      }
    }
  }
  .data-dashboard {
    position: relative;
    padding: 24px 32px;
    .header-dashboard {
      position: relative;
      h4 {
        color: #121212;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        text-align: center;
        margin-top: 0px;
        span {
          color: #929292;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: block;
          margin-top: 4px;
        }
      }
      a.user-icons {
        color: #4b69ff;
        border-radius: 4px;
        border: 1px solid #c7d1ff;
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
    }
  }
}
.content-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffffa1;
  transition: 0.3s ease-in-out;
  .data-inner {
    border-radius: 10px;
    background: var(--White, #fff);
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.12);
    min-width: 300px;
    text-align: center;
    padding: 19px 11px;
    h5 {
      color: #121212;
      font-family: Lexend;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    p {
      color: #121212;
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px;
      margin-top: 6px;
      margin-bottom: 18px;
    }
    ion-button {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      --padding-top: 12px;
      --padding-bottom: 12px;
      --box-shadow: none;
    }
    ion-button.button-outline {
      --padding-top: 11px;
      --padding-bottom: 11px;
      height: 40px;
      --height: 40px;
    }
  }
}
.scan-bar {
  display: block;
  img {
    width: 100%;
  }
}
.table-main {
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  background: #fff;
  padding: 12px;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.12);
  h4.table-ttl {
    color: #121212;
    font-family: Lexend;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0px;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 10px;
    margin-bottom: 8px;
  }
}
table.table.table-design {
  width: 100%;
  background: var(--White, #fff);
  thead tr th {
    color: #121212;
    font-family: Lexend;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 12px 10px;
    text-align: left;
    &:last-child {
      text-align: center;
    }
  }
  tbody tr td {
    color: var(--Foundation-Black-black-500, #121212);
    font-family: Lexend;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    padding: 12px 10px;
    text-align: left;
    border-top: 1px solid #d1d1d1;
    &:last-child {
      text-align: center;
    }
    span.logout-ic {
      color: #f04438;
      font-size: 16px;
    }
  }
}

ul.menu-lists {
  margin: 0px;
  padding: 0px;
  list-style: none;
  li {
    color: #929292;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px;
    span.icon-me {
      font-size: 20px;
      vertical-align: middle;
      margin-right: 2px;
    }
    &.active {
      color: #4b69ff;
    }
  }
}
.clickd-btn {
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clickd-btn.max-w-375 {
  max-width: 460px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  ion-button {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    --padding-top: 14px;
    --padding-bottom: 14px;
    --box-shadow: none;
  }
  ion-button.button-outline {
    --padding-top: 13px;
    --padding-bottom: 13px;
    height: 44px;
    --height: 44px;
  }
}
