<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="dashboard-tabs">
    <ion-row>
      <ion-col size="12" size-sm="5" size-md="4" size-lg="3" class="p-0">
        <app-navbar></app-navbar>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="8" size-lg="9" class="p-0">
        <div class="data-dashboard">
          <app-header></app-header>
          <div class="photo-div">
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="10" size-md="9">
                <div class="inner-imsg">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-img
                          *ngIf="photoService.photo"
                          [src]="photoService.photo.webviewPath"
                        ></ion-img>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <div class="clickd-btn" *ngIf="!photoService.photo">
                    <a
                      href="javascript:void(0);"
                      (click)="addPhotoToGallery()"
                      class="btn-clicks"
                    >
                      <ion-icon name="camera-outline"></ion-icon>
                    </a>
                  </div>

                  <div class="clickd-btn max-w-375" *ngIf="photoService.photo">
                    <ion-row>
                      <ion-col size="6">
                        <ion-button
                          color="primary"
                          expand="block"
                          (click)="submitPhoto()"
                          class="save-cli"
                          >Submit</ion-button
                        >
                      </ion-col>
                      <ion-col size="6">
                        <ion-button
                          color="primary"
                          fill="outline"
                          expand="block"
                          (click)="retakePhoto()"
                          class="save-cli"
                          >Retake</ion-button
                        >
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div></div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
