<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="dashboard-tabs">
    <ion-row>
      <ion-col size="12" size-sm="5" size-md="4" size-lg="3" class="p-0">
        <div class="left-panel">
          <a
            href="javascript:void(0);"
            class="scan-btn"
            (click)="toggleScan()"
            *ngIf="ScannerBtn"
          >
            SCAN Code
          </a>
          <div class="scan-bar" *ngIf="ScannerVisible">
            <img src="assets/images/scan-img.png" />
          </div>
          <div class="form-left">
            <h4>Returning Visitor</h4>
            <ion-list>
              <ion-item lines="none">
                <ion-input labelPlacement="stacked" placeholder="Enter mobile">
                  <ion-icon
                    slot="start"
                    name="search-outline"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input labelPlacement="stacked" placeholder="Enter mobile">
                  <ion-icon
                    slot="start"
                    name="search-outline"
                    aria-hidden="true"
                  ></ion-icon>
                </ion-input>
              </ion-item>
            </ion-list>
          </div>
          <div class="bottom-fixd">
            <ul class="foot-menus">
              <li (click)="KeyButton()">
                <ion-icon name="lock-open-outline"></ion-icon> Return Key
              </li>
              <li class="logout">
                <ion-icon name="log-out-outline"></ion-icon> Sign Out
              </li>
            </ul>
          </div>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="8" size-lg="9" class="p-0">
        <div class="data-dashboard">
          <div class="header-dashboard">
            <h4>Cameron Williamson <span> 16th September 08:45 Am </span></h4>
            <a
              href="javascript:void(0);"
              class="user-icons"
              (click)="toggleDiv()"
            >
              <ion-icon name="person-outline"></ion-icon>
            </a>
          </div>
          <div class="photo-div">
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="10" size-md="9">
                <div class="inner-imsg">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12">
                        <ion-img
                          *ngIf="photoService.photo"
                          [src]="photoService.photo.webviewPath"
                        ></ion-img>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  <div class="clickd-btn" *ngIf="!photoService.photo">
                    <a
                      href="javascript:void(0);"
                      (click)="addPhotoToGallery()"
                      class="btn-clicks"
                    >
                      <ion-icon name="camera-outline"></ion-icon>
                    </a>
                  </div>

                  <div class="clickd-btn max-w-375" *ngIf="photoService.photo">
                    <ion-row>
                      <ion-col size="6">
                        <ion-button
                          color="primary"
                          expand="block"
                          (click)="submitPhoto()"
                          class="save-cli"
                          >Submit</ion-button
                        >
                      </ion-col>
                      <ion-col size="6">
                        <ion-button
                          color="primary"
                          fill="outline"
                          expand="block"
                          (click)="retakePhoto()"
                          class="save-cli"
                          >Retake</ion-button
                        >
                      </ion-col>
                    </ion-row>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <div></div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<div class="content-popup" *ngIf="isDivVisible">
  <div class="data-inner">
    <h5>Are you still visiting</h5>
    <p>Pete Stevens?</p>
    <ion-row>
      <ion-col size="6">
        <ion-button
          color="primary"
          fill="outline"
          expand="block"
          class="cancle-save"
          (click)="toggleDiv()"
          mode="md"
        >
          No</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button
          color="primary"
          expand="block"
          class="cancle-save"
          (click)="toggleDiv()"
          mode="md"
          >Yes</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
</div>

<div class="content-popup key-return" *ngIf="KeyReturn">
  <div class="data-inner">
    <h5>Confirm Key Returned</h5>
    <p>Pete Stevens?</p>
    <ion-row>
      <ion-col size="6">
        <ion-button
          color="primary"
          fill="outline"
          expand="block"
          class="cancle-save"
          (click)="KeyButton()"
          mode="md"
          >No</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button
          color="primary"
          expand="block"
          class="cancle-save"
          (click)="KeyButton()"
          mode="md"
          >Yes</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
</div>
