ion-content {
  background: url(../../assets/images/login-bg.png);
  --background: url(../../assets/images/login-bg.png);
  background-size: cover;
  background-position: center;
  .logo-login {
    display: block;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    img {
      max-width: 300px;
    }
  }
}
.login-fls {
  padding: 20px;
  h3 {
    color: var(--Foundation-Black-black-500, #121212);
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
  }
  p {
    margin: 0px;
    color: #929292;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.form-in {
  margin-top: 40px;
  ion-item {
    border-radius: 6px;
    background: #f6f6f6;
    --background: #f6f6f6;
    --border-radius: 6px;
    margin-bottom: 20px;
    ion-input,
    ion-select {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.forgot-pass {
  text-align: right;
  span {
    display: inline-block;
    color: #929292;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
ion-button.btn-login {
  border-radius: 6px;
  background: #5164f8;
  --background: #5164f8;
  --padding-top: 14px;
  --padding-bottom: 14px;
  height: 50px;
  --box-shadow: none;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.signup-text {
  text-align: center;
  margin-top: 25px;
  color: #747171;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    text-decoration-line: underline;
    color: #4b69ff;
  }
}
.photo-upl {
  label {
    border-radius: 6px;
    border: 1px dashed #a3a3a3;
    display: block;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    ion-icon {
      font-size: 30px;
      color: #4b69ff;
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
}
