<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="dashboard-tabs">
    <ion-row>
      <ion-col size="12" size-sm="5" size-md="3" size-lg="2" class="p-0">
        <app-current-navbar></app-current-navbar>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="9" size-lg="10" class="p-0">
        <div class="data-dashboard">
          <app-current-navbar-header></app-current-navbar-header>
          <div class="table-main">
            <h4 class="table-ttl">Current Onsite Visitors</h4>
            <table class="table table-design">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Visitor Type</th>
                  <th>time</th>
                  <th>Key ID</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of usersInfo">
                  <td>{{user.first_name}} {{user.last_name}}</td>
                  <td>{{user.visitor_type}}</td>
                  <td>{{user.created_at}}</td>
                  <td>{{user.key_id}}</td>
                  <td>
                    <span class="logout-ic" (click)="showReturnModal(user)">
                      <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<div class="content-popup" *ngIf="isShowReturn">
  <div class="data-inner">
    <h5>Confirm Key Returned</h5>
    <p>{{return_name}}?</p>
    <ion-row>
      <ion-col size="6">
        <ion-button
          color="primary"
          fill="outline"
          expand="block"
          class="cancle-save"
          (click)="closeReturnModal()"
          mode="md"
          >No</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button
          color="primary"
          expand="block"
          class="cancle-save"
          (click)="ReturnKey()"
          mode="md"
          >Yes</ion-button
        >
      </ion-col>
    </ion-row>
  </div>
  <div class="loading-spinner" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
</div>
