<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="logo-login">
    <img src="assets/images/logo.png" />
  </div>
  <div class="login-fls">
    <h3>
      Forgot Password ? <span> <img src="assets/images/hand.svg" /> </span>
    </h3>
    <p>Please enter your email address to reset your password.</p>

    <div class="form-in">
      <ion-list>
        <ion-item lines="none">
          <ion-input placeholder="Email Address"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        class="btn-login"
        mode="md"
        routerLink="/login"
      >
        Reset Password
      </ion-button>
      <div class="signup-text">
        Go back to <span routerLink="/login">> LOGIN </span>
      </div>
    </div>
  </div>
</ion-content>
