<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home-app</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
		<span class="logo-head"> <img src="assets/images/logo.png"> </span>
    </ion-toolbar>
  </ion-header>
  <div class="bottom-home">
	  <ul class="data-homes">
			<li> <span> Site Name </span><small>  Site Name </small> </li>
			<li> <span> Time IN </span><small>  08:30 </small> </li>
			<li> <span> Key </span><small>  ON LOAN </small> </li>
	  </ul>
  </div>
</ion-content>
