ion-content {
  .p-0 {
    padding: 0px;
  }
  .data-dashboard {
    position: relative;
    padding: 24px 16px;
  }
  .dash-form {
    display: block;
    margin-top: 18px;
    border-radius: 12px;
    border: 1px solid var(--Foundation-Gray-gray-300, #eee);
    background: var(--White, #fff);
    box-shadow: 6px 6px 16px 0px rgba(124, 124, 124, 0.08);
    padding: 12px;
    ion-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0;
      ion-input,
      ion-select {
        border-radius: 6px;
        --border-radius: 6px;
        background: var(--Foundation-Gray-gray-100, #f6f6f6);
        width: 100%;
        min-height: 40px;
        --padding-start: 16px;
        height: 40px;
        margin-bottom: 0px;
        flex: 0 0 100%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    h5.radio-title {
      color: #121212;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-top: 0px;
    }
    .button-label {
      display: flex;
      ion-icon {
        color: #00b500;
        margin-left: 5px;
        width: 20px;
        height: 20px;
      }
    }
    ion-radio {
      color: #929292;
      font-family: Lexend;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      margin-right: 20px;
    }
  }
  .upload-pho {
    label {
      border-radius: 6px;
      border: 1px dashed var(--Foundation-Gray-gray-700, #a3a3a3);
      display: block;
      text-align: center;
      padding: 16px;
      ion-icon {
        font-size: 36px;
        color: #4b69ff;
      }
      h5 {
        margin: 0px;
        color: #929292;
        font-family: Lexend;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 0px;
      }
    }
    a {
      color: #fff;
    }
  }
  .input-cls {
    display: none;
  }
  .btn-save {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    --padding-top: 12px;
    --padding-bottom: 12px;
    min-width: 250px;
    --box-shadow: none;
  }
  .text-center {
    text-align: center;
    margin-top: 3px;
  }
}
.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.361);
  display: flex;
  justify-content: center;
  align-items: center;

  ion-spinner {
    color: #363636;
    width: 100px;
    height: 100px;
  }
}

.alert-class {
  background-color: #00000066 !important;
  color: white !important;
}
