<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  <div class="dashboard-tabs">
    <ion-row>
      <ion-col size="12" size-sm="5" size-md="4" size-lg="3" class="p-0">
        <app-navbar
          (navbarloading)="handleLoading($event)"
          (input_fname)="onfnameChange($event)"
          (input_lname)="onlnameChange($event)"
          (input_visitor)="onVisitorChange($event)"
          (input_mobile)="onMobileChange($event)"
          (input_company)="onCompanyChange($event)"
        ></app-navbar>
      </ion-col>
      <ion-col size="12" size-sm="7" size-md="8" size-lg="9" class="p-0">
        <div class="data-dashboard">
          <app-header></app-header>
          <div class="dash-form">
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    aria-label="text"
                    [(ngModel)]="first_name"
                    placeholder="First Name"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    aria-label="text"
                    [(ngModel)]="last_name"
                    placeholder="Last Name"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-select
                    interface="popover"
                    [(ngModel)]="visitor_type"
                    placeholder="Visitor Type"
                  >
                    <ion-select-option value="visitor_A"
                      >Visitor A</ion-select-option
                    >
                    <ion-select-option value="visitor_B"
                      >Visitor B</ion-select-option
                    >
                    <ion-select-option value="visitor_C"
                      >Visitor C</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-select
                    interface="popover"
                    [(ngModel)]="company_name"
                    placeholder="Company Name"
                  >
                    <ion-select-option value="company_A"
                      >Company A</ion-select-option
                    >
                    <ion-select-option value="company_B"
                      >Company B</ion-select-option
                    >
                    <ion-select-option value="company_C"
                      >Company C</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-input
                    aria-label="text"
                    [(ngModel)]="mobile_number"
                    placeholder="Mobile Number"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <ion-item lines="none">
                  <ion-select
                    interface="popover"
                    [(ngModel)]="person_visiting"
                    placeholder="Person Visiting"
                  >
                    <ion-select-option value="person_A"
                      >Person A</ion-select-option
                    >
                    <ion-select-option value="person_B"
                      >Person B</ion-select-option
                    >
                    <ion-select-option value="person_C"
                      >Person C</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="12">
                <h5 class="radio-title">
                  No Covid or Sickness in last 14 Days
                </h5>
                <ion-radio-group value="true" [(ngModel)]="isSick" mode="md">
                  <ion-radio value="true" labelPlacement="end">Yes</ion-radio>
                  <ion-radio value="false" labelPlacement="end">No</ion-radio>
                </ion-radio-group>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="6">
                <div class="button-label">
                  <h5 class="radio-title">Photo</h5>
                  <ion-icon
                    name="checkmark-outline"
                    *ngIf="isPhotoCaptured"
                  ></ion-icon>
                </div>
                <div class="upload-pho">
                  <a href="javascript:void(0);" (click)="showCapture()">
                    <label for="upload-click">
                      <ion-icon name="camera-outline"></ion-icon>
                      <h5>Click to Upload</h5>
                    </label>
                  </a>
                </div>
              </ion-col>
              <ion-col size="12" size-sm="12" size-md="6">
                <div class="button-label">
                  <h5 class="radio-title">Loan Key</h5>
                  <ion-icon
                    name="checkmark-outline"
                    *ngIf="isKeyChecked"
                  ></ion-icon>
                </div>
                <div class="upload-pho">
                  <a href="javascript:void(0);" (click)="ScanKeyID()">
                    <label for="scan-id">
                      <ion-icon name="lock-closed-outline"></ion-icon>
                      <h5>SCAN Key ID</h5>
                    </label>
                  </a>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-sm="12" size-md="12">
                <div class="text-center">
                  <ion-button
                    color="primary"
                    class="btn-save"
                    (click)="submit()"
                    >Submit</ion-button
                  >
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="loading-spinner" *ngIf="loading">
    <ion-spinner></ion-spinner>
  </div>
  <app-capture *ngIf="isCapture" (isShow)="showCapture()"></app-capture>
</ion-content>
